html, body {
  font-family: sans-serif;
}

body {
  margin: 15px;
  font-size: 1rem;
  background-color: #e4e4e4;
}

canvas {
  border: 1px solid #000;
}

.canvas_1 {
  background-color: #ede8ff;
}

.task1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.controls-arc {
  margin-left: 20px;
}

.controls-arc label {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.canvas_2 {
  background: url("/img/setka.png");
}

.canvas_3 {
  width: 600px;
  height: 600px;
}

.controls-spiro {
  font-size: 14px;
  font-weight: 700;
}

.controls-spiro > div {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
