html, body {
    font-family: sans-serif;
}
body {
    // height: 2000px;
    margin: 15px;
    font-size: 1rem;
    background-color: rgb(228, 228, 228);
}

canvas {
    border: 1px solid #000;
}

.canvas_1 {
    // width: 600px;
    // height: 250px;
    background-color: #ede8ff;
}
.task1 {
    display: inline-flex;
}
.controls-arc {
    margin-left: 20px;
    label{
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        transform: translateY(-4px);
    }
}

.canvas_2 {
    background: url('/img/setka.png');
}
.canvas_3{
    width: 600px;
    height: 600px;
}
.controls-spiro {
    font-size: 14px;
    font-weight: 700;
    > div {
        max-width:200px;
        display: flex;
        justify-content: space-between;
    }
}
 